{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% block maincontent %} 
<h1>{% trans "Compose Message"%}</h1>
<form action="" method="post">
{% csrf_token %} 

  {% load crispy_forms_tags %}
{{ form|crispy }}

<input type="submit" value="{% trans "Send" %} &raquo;"/>
</form>

{% endblock %}

{% block customjs %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}
    <script>
        yourlabs.Autocomplete.prototype.fixPosition = function(html) {
            this.input.parents().filter(function() {
                return $(this).css('overflow') === 'hidden';
            }).first().css('overflow', 'visible');

            this.box.insertAfter(this.input).css({top: 0, left: 0});
        };
        $( document ).ready(function() {
    width = $('#id_recipient_text').width()
        $('.yourlabs-autocomplete').css( "width", width+"px" );
});
        
    </script>

{% endblock customjs %}