
/* Main Color Scheme */
h1.page-title,
.mini-sidebar .widget > h3,
input[type=submit],
#sidebar .widget > h3,
.strict-block .block-title,
.breaking-news .breaking-title,
#wp-calendar thead,
#wp-calendar caption,
.ot-jumplist .open-jumplist, .actual-list {
	background-color:rgb(60, 60, 60);
    border-bottom:5px solid #217463;
    color:white;

}

.strict-block .block-title h2 {
    color:white;
}

#wp-calendar tbody td#today {
	/* box-shadow: inset 1px 1px 0 1px #fff, inset 1px 0 0 1px #fff, inset 1px 1px 0 3px <-CUSTOM->, inset 1px 0 0 3px <-CUSTOM->; */
	box-shadow: inset 1px 1px 0 1px #fff, inset 1px 0 0 1px #fff, inset 1px 1px 0 3px #2c3e50, inset 1px 0 0 3px #2c3e50;
}

/* Main Menu Color */
.header #main-menu {
	background-color: #217463;
}

/* Background Color/Texture/Image */
body {
	background: rgb(238, 238, 238);
}

.hidden {
    display:none;
}

.block-content-blue,
.js-comments-form {
background-color: rgb(244, 247, 239)!important;
}


.rejected {
    background-color: black;
}

.accepted {
    background-color:#B18F81;
}

.waiting {
    background-color:#B18F81;
}

/*input[type=submit] {
    color:rgb(77, 76, 76);
}*/

.item-comment, .item-button, input[type=submit], .tagcloud a,
.tag-cloud a, .editbutton, .main-article .button {
    background-color:#134D41!important;
    /*background-color:#2c3e50;*/
    color:white;
}