{% extends "base.html" %}
{% block content %}
    

<div class="strict-block">
                            <!-- BEGIN .block-content -->
                            <div class="error-big-message">
                                
                                <h1>Ошибка 500</h1>
                                <h2>Что-то пошло не так</h2>

                                <p>Что-то пошло не так, но мы об этом знаем и все поправим, как только сможем. Благодарим за терпение.</p>. 
                                <a href="/"><i class="fa fa-home"></i>Вернуться на главную</a>

                            <!-- END .block-content -->
                            </div>
                        <!-- END .strict-block -->
                        </div>
{% endblock content %}
{% load customtags %}
{% set title %}Конгресс интеллигенции против войны: ошибка 500 {% endset %}
{% set description %}Конгресс интеллигенции против войны. Ошибка 500. {% endset %}