{% extends "base.html" %}


{% block content %}

  {% load crispy_forms_tags %}
<div class="strict-block col-lg-12">
                            <div class="block-title">
                                <h2>Наши контакты</h2>
                            </div>

                            <!-- BEGIN .block-content -->
                            <div class="block-content main-article">
                       <p>Такие-то контакты</p>
                    
                            <!-- END .block-content -->
                            </div>
                        <!-- END .strict-block -->
                        </div>

                      

{% endblock %}