    {% extends "base.html" %}
    <!-- BEGIN .content -->
           {% block content %}
               
          

            
                
               
                    
                    <!-- .with-sidebar / .with-sidebar-both / .with-middle -->

    <aside id="sidebar" class="col-lg-3">
{% block sidebar1 %}
    
{% endblock sidebar1 %}
</aside>
                
               <div class=" col-lg-7">

                   {% block maincontent %}
                       
                   {% endblock maincontent %}

                        
                        </div>       
               


                    <div  class="mini-sidebar col-lg-2">
                        
                      {% block sidebar2 %}
                          
                      {% endblock sidebar2 %}

                    </div>


                    
                
                
   {% endblock content %}