{% extends "base.html" %}


{% block content %}

  {% load crispy_forms_tags %}
<div class="strict-block col-lg-12">
                            <div class="block-title">
                                <h2>Как стать участником конгресса</h2>
                            </div>

                            <!-- BEGIN .block-content -->
                            <div class="block-content main-article main-about">
                            Стать участником Конгресса и получить доступ на сайт можно, обратившись к нам по адресу admin@nowarcongress.com. В связи с тем, что Конгресс интеллигенции возник, прежде всего, как антивоенный форум, новым участникам Конгресса мы предлагаем подписать <a href="https://nowarcongress.com/about_congress/">"учредительные" декларации</a>.<br><br>
Если Вы желаете стать участником Конгресса, напишите нам, представьтесь и расскажите о себе.
                        
                    
                            <!-- END .block-content -->
                            </div>
                        <!-- END .strict-block -->
                        </div>

                      

{% endblock %}

{% load customtags %}
{% set title %}Конгресс интеллигенции против войны: как стать членом конгресса и зарегистрироваться на сайте{% endset %}
{% set description %}Здесь описан единственный способ стать членом Конгресса Интеллигенции против войны и зарегистрироваться на сайте{% endset %}