{% extends "profilegeneral.html" %}


{% block maincontent %}

  {% load crispy_forms_tags %}
<div class="strict-block">
                            <div class="block-title">
                                <h2>Пригласить друга присоединиться к конгрессу</h2>
                            </div>

                            <!-- BEGIN .block-content -->
                            <div class="block-content main-article">
                            

<h5>Спасибо! Мы отправили письмо с приглашением. Перейдя по ссылке, Ваш друг сможет зарегистрироваться на нашем сайте. Пригласите кого-нибудь еще!</h5>

                    
                            <!-- END .block-content -->
                            </div>
                        <!-- END .strict-block -->
                        </div>


                    
            

{% endblock %}