{% extends "admin/base.html" %}


{% block content %}

  {% load crispy_forms_tags %}
  {% load admin_static i18n admin_modify admin_urls grp_tags %}
<fieldset class="grp-module">







                            <form action="https://nowarcongress.com/siteadmin/admin/person/invite/"  method="post">{% csrf_token %}


 <div class="fieldWrapper">
    {% for field in form %}
          <div class="grp-row ">
          <div class="l-2c-fluid l-d-4">
        {{ field.errors }}
         <div class="c-1">{{ field.label_tag }}</div><div class="c-2"> {{ field }} <p class="grp-help">{{ field.help_text|safe }}</p></div>
         
   </div>
   </div>
    {% endfor %}
     </div>
   

 <input type="submit" value="Пригласить" />


                
</fieldset>


              </form>   
{% endblock %}