<div class="item-block" style="background: url(images/photos/image-9.jpg);">
                                    <div class="item-header">
                                        <a href="post.html#comments" class="item-comment" style="background: #27ae60;"><span>82</span><i></i></a>
                                        <a href="blog.html" class="item-cat">Interior Design</a>
                                        <a href="blog.html" class="item-date"><i class="fa fa-clock-o"></i>4h ago</a>
                                    </div>
                                    <div class="item-content">
                                        <h3><a href="post.html">Quas posidonium vitupera toribus pro usu albucius</a></h3>
                                        <div class="item-author">
                                            <a href="blog.html" class="author-photo"><img src="images/photos/avatar-2.jpg" alt=""></a>
                                            <a href="blog.html" class="author-name">Diarmad Alistair</a>
                                        </div>
                                    </div>
                                </div>