                <!--В начале контента -->

                <div class="ot-jumplist hidden-xs">
                    <a href="#open-jumplist" class="open-jumplist"><strong>ПАРТНЕРЫ&nbsp;&nbsp;<i class="fa fa-arrow-up"></i></strong></a>

                    <div class="actual-list">
                        <a href="#close-jumplist" class="close-jumplist"><strong>ПАРТНЕРЫ<i class="fa fa-arrow-right"></i></strong></a>


<ul>
                               
                                
                                    <li><a href="http://www.zaprava.ru/">ОБД "За права человека"</a></li>
                                
                                    <li><a href="http://zashita-zk.org/">Фонд "В защиту прав заключенных"</a></li>
                                
                                    <li><a href="http://penrussia.org/new/">ПЕН-центр</a></li>
                                
                                    <li><a href="http://www.gdf.ru/">Фонд "В защиту гласности"</a></li>
                                
                                    <li><a href="http://mhg-main.org/">Московская Хельсинская Группа</a></li>
                                
                                    <li><a href="http://www.novayagazeta.ru/">Новая Газета</a></li>
                                
                                    <li><a href="http://www.echo.msk.ru/">Эхо Москвы</a></li>
                                
                                    <li><a href="http://grani.ru/">Грани.ру</a></li>
                                
                                    <li><a href="http://tvrain.ru/">"Дождь"TV</a></li>
                                
                                
        
                            </ul>

                    </div>

                    <a href="http://share.yandex.ru/go.xml?service=facebook&url=http%3A%2F%2Fnowarcongress.com" class="jumplist-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="http://share.yandex.ru/go.xml?service=twitter&url=http%3A%2F%2Fnowarcongress.com" class="jumplist-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="http://share.yandex.ru/go.xml?service=gplus&url=http%3A%2F%2Fnowarcongress.com" class="jumplist-google"><i class="fa fa-google-plus"></i></a>
                </div>