    {% extends "base.html" %}
    <!-- BEGIN .content -->
           {% block content %}
               
          

            
                
               
              <div class=" col-lg-9 col-lg-push-3">

                   {% block maincontent %}
                       
                   {% endblock maincontent %}

                        
                        </div>       
                                
                    <!-- .with-sidebar / .with-sidebar-both / .with-middle -->

    <aside id="sidebar" class="col-lg-3 col-lg-pull-9">
{% block sidebar1 %}
    
{% endblock sidebar1 %}
</aside>
                
    

                    
                
                
   {% endblock content %}