
{% extends "leftsidebar.html" %}
{% block maincontent %}

<h1>Заявления</h1>
<div class="spacer-1" style="background:#BCBCBC;color:#BCBCBC;"></div>

{% load comments %}
{% load pagination_tags %}
{% load fb_versions %}
{% autopaginate object_list 7 %}

<div class="blog-style">
{% for item in object_list %}







                                
                                   
                                <div class="item {% if item.photos.all|length %}image-small{% else %}image-no{% endif %}  ">
                                {% if item.photos.all|length %}
                                    <div class="item-header">
                                    
                                   {% if item.petition.get_number %}
                                              <a href="{{item.get_absolute_url}}" class="item-comment"><span>
                                       
                                            {{item.petition.get_number}}
                                         подписали</span><i></i></a> 
                                      
                                   {% endif %}
                              
                                        <a href="{{item.get_absolute_url}}" class="item-photo"><img src="{% with item.photos.all|first as ph %}{% version ph.image 'list_thumbnail' %}{% endwith %}" alt=""></a>
                                      
                                    </div>
                                    {% endif %}
                                    <div class="item-content">
                                        <h3><a href="{{item.get_absolute_url}}">{{item.title}}</a>{% if  not item.photos.all|length %}
                                        {% if item.petition.get_number %}
                                             <a href="{{item.get_absolute_url}}" class="item-comment"><span>
                                       
                                            {{item.petition.get_number}}
                                         подписали</span><i></i></a> 
                                        {% endif %}
                                   
                                        {% endif %}</h3>
                                     <div class="item-icons">
                                                    <a href="blog.html"><i class="fa fa-calendar"></i>{{item.date|date:"d E Y"}}</a>
                                                    {% load customtags %}
                                                    {% if not object|to_class_name == 'ContentCategory' %}
                                                        <a href="{{item.category.get_absolute_url}}"><i class="fa fa-{{item.category.icon}}"></i>{{item.category.title}}</a>
                                                    {% endif %}
                                                  
                                                    {% if item.author and item.author.id != 7 %}
                                                    <a href="{{item.author.get_absolute_url}}"><i class="fa fa-user"></i>{{item.author.name}}</a>
                                                  {% endif %}
                                                </div>
                                  <div style="margin-bottom:10px">
                                          {{item.text|striptags|no_dumb_chars|truncatechars:"500"}}</div>
                                      <a href="{{item.get_absolute_url}}" class="trans-button">Читать полностью</a>


 {% if user.is_authenticated and user.profile in item.petition.participants.all %}
                           <span class="trans-button" style="border:0">Вы уже подписали это заявление</span>
 
                        {% elif item.petition.id in request.session.signed_petitions %}
                                <span class="trans-button" style="border:0">Вы уже подписали это заявление</span>
                           {% endif %}
                        


                                    </div>

                                    <div class="clear-float"></div>

                                </div>
                                
                              {% endfor %}
                                
    
{% paginate %}
                            <!-- END .block-content -->
                            </div>


{% endblock maincontent %}

{% block sidebar1 %}


   {% for item in category.sidebar.all %}
       {% if not item.for_detail_only %}
          {% include item.template %}
       {% endif %}
        
       {% endfor %}
      
    
{% endblock sidebar1 %}

{% load customtags %}
{% set title %}Заявления Конгресса интеллигенции{% endset %}
{% set description %}Заявления Конгресса интеллигенции{% endset %}
