{% extends "profilegeneral.html" %}



{% block maincontent %}
{% load fb_versions %}
<h1 style="margin-bottom:35px">{{user.profile.name}}{% if user.profile.occupation %}, {{user.profile.occupation}}{% endif %}</h1>

<div class="strict-block">
                            <div class="block-title">
                                <h2>О себе</h2>
                            </div>

                            <!-- BEGIN .block-content -->
                            <div class="block-content main-article">
                                <div class="item-content col-lg-3">
                                 

                                        <img src="{% version user.profile.photo 'plist_thumbnail' %}" class="imgperson" alt="">
                                   
                                   

                                </div>
                              {{user.profile.about|safe}}

                            <!-- END .block-content -->
                            </div>
                        <!-- END .strict-block -->
                        </div>

{% if user.profile.city or user.profile.twitter or user.profile.facebook or user.profile.site %}
    

    <div class="strict-block">

                            <div class="block-title">
                                <h2>Контакты</h2>
                            </div>
                            <!-- BEGIN .block-content -->
                            <div class="block-content main-article col-lg-12">
                             <ul>
                             {% if user.profile.city %}
                                 <li><i class="fa fa-home"></i> {{user.profile.city}}</li>
                             {% endif %}

                             {% if user.profile.facebook %}
                                 <li><a href="{{user.profile.facebook}}"><i class="fa fa-facebook"></i> {{user.profile.facebook}}</a></li>
                             {% endif %}


                             {% if user.profile.twitter %}
                                 <li><a href="{{user.profile.twitter}}"><i class="fa fa-twitter"></i> {{user.profile.twitter}}</a></li>
                             {% endif %}
                             

                             {% if user.profile.site %}
                                 <li><a href="{{user.profile.site}}"><i class="fa fa-link"></i> {{user.profile.site}}</a></li>
                             {% endif %}
                             
                             </ul>

                            <!-- END .block-content -->
                            </div>
                        <!-- END .strict-block -->
                        </div>
                        {% endif %}
<br style="clear:both">
{% if blogposts|length %}

<div class="strict-block">
 <div class="block-title">
<h2>Последние материалы</h2>  
<a href="/people/{{user.profile.id}}/all/" class="panel-title-right">Смотреть все</a>                              
</div>
<div class="block-content item-block-1 split-stuff">
{% for item in blogposts|slice:"5" %}

<div class="item-profile-author col-lg-12">
                              
                                      {% load customtags %}

                                        <h4>
<a href="{{item.get_absolute_url}}">{{item.title}}</a>
                                        <a class="editbutton" href="{{item.get_absolute_url}}/delete/">удалить</a><a class="editbutton" href="{{item.get_absolute_url}}/update/">редактировать</a>
                                       <a class="editbutton 
                                       {% if item.get_moderation_status == 0 %}rejected{% elif item.get_moderation_status == 1 %}accepted{% else %}waiting{% endif %}"


                                       > {{item.get_moderation_text}}</a></h4>
                                            <div class="item-foot">
                                            
                                            <a href="{{item.get_absolute_url}}"><i class="fa fa-clock-o"></i>{{item.date|date:"d E"}}</a>
                                            <a href="{{item.category.get_absolute_url}}"><i class="fa fa-{{item.category.icon}}"></i>{{item.category.title}}</a>
                                        </div>
                                        <p>{{item.text|striptags|no_dumb_chars|truncatewords_html:"250"}}</p>
                                    
                                    
                                <!-- END .item -->
                                </div>

{% endfor %}
    
</div>
 </div>   
{% endif %}



{% endblock %}