{% extends "base.html" %}
{% block content %}
      {% load crispy_forms_tags %}

<div class="strict-block col-lg-12">
                            <div class="block-title">
                                <h2>Вход не выполнен</h2>
                            </div>

                            <!-- BEGIN .block-content -->
                            <div class="block-content main-article">
                       
                            <p>Если Вы сюда попали, значит Вы пока не член Конгресса, или указали неверный пароль.</p>
<a href="{% url 'password_reset' %}">Забыли пароль?</a><br>
<a href="/login/google-oauth2/?next={{ request.GET.next }}">Войти через Google</a><br>
<a href="/login/facebook/?next={{ request.GET.next }}">Войти через Facebook</a><br>
<a href="/howtoregister/">Как стать членом Конгресса?</a>
                
                
                            <!-- END .block-content -->
                            </div>
                        <!-- END .strict-block -->
                        </div>



{% endblock content %}

{% load customtags %}
{% set title %}Конгресс интеллигенции против войны: вход{% endset %}
{% set description %}Регистрация{% endset %}
