{% extends "base.html" %}


{% block content %}

  {% load crispy_forms_tags %}
<div class="strict-block col-lg-12">
                            <div class="block-title">
                                <h2>О Конгрессе интеллигенции</h2>
                            </div>

                            <!-- BEGIN .block-content -->
                            <div class="block-content main-article main-about">
                            Конгресс интеллигенции «Против войны, против самоизоляции России, против реставрации тоталитаризма» возник для объединения мнений граждан России, которых возмутило насильственное отторжение Крыма от страны, которая всегда считалась братской и предполагала особые близкие и уважительные отношения. Сразу после вторжения в Крым в оппозиционных СМИ и интернет-ресурсах появились отдельные протестные выступления и экспертные мнения представителей интеллигенции. И таких выступлений было много. Именно для их объединения возник Конгресс интеллигенции, моментом его рождения можно считать подписание обращения, которое было опубликовано в «Новой газете» 14 марта 2014. <br><br>
Имена подписавших обращение, не просто известных в России и за ее пределами, но и являющихся для многих моральным авторитетом, сделали Конгресс заметным общественным явлением в России. Среди подписавших заявление Конгресса – Людмила Улицкая, Дмитрий Быков, Михаил Ефремов, Андрей Макаревич, Эльдар Рязанов, Владимир Войнович, Лия Ахеджакова, Георгий Чхартишвили, Андрей Смирнов, Наталья Фатеева и многие, многие другие, кто в дополнительном представлении не нуждается. Практически одновременно был опубликован так называемый «список Мединского» – письмо деятелей культуры, фактически давших карт-бланш на любые действия Путина. <br><br>
Несмотря на широкую поддержку населением действий России в Крыму, раскол интеллигенции налицо. Первая очная сессия Конгресса интеллигенции, собравшая более 200 участников, прошла в Библиотеке иностранной литературы 19 марта 2014 года. На сессии выступили эксперты Андрей Зубов, Евгений Гонтмахер, Алексей Симонов, Марк Урнов; модерировала сессию Ирина Прохорова. Эксперты говорили о последствиях, к которым может привести аннексия Крыма как для России, так и для всего мира. Материалы сессии доступны в видеоформате. Основным итогом сессии Конгресса стало подписание нового заявления. В настоящий момент под документами Конгресса собрано более пятисот подписей. Подписанты и являются участниками Конгресса. <br><br>
Желающие поддержать заявления Конгресса и присоединиться к нему могут обратиться к нам по адресу эл. почты - nowarcongress2014@gmail.com.

                    
                            <!-- END .block-content -->
                            </div>
                        <!-- END .strict-block -->
                        </div>

<div class="strict-block col-lg-12">
                            <div class="block-title">
                                <h2>Декларации</h2>
                            </div>

                            <!-- BEGIN .block-content -->
                            <div class="block-content main-article">
                            {% for item in petitions %}
                            <a href="{{item.get_absolute_url}}"><h4>{{item.title}}</h4></a>
                            <hr>
                            {% endfor %}
                    
                            <!-- END .block-content -->
                            </div>
                        <!-- END .strict-block -->
                        </div>

<div class="strict-block col-lg-12">
                            <div class="block-title">
                                <h2>Участники о конгрессе</h2>
                            </div>

                            <!-- BEGIN .block-content -->
                            <div class="block-content main-article">
                                {% for item in members_about %}
                
                            {% include "item_about.html" %}
                            {% endfor %}
                    
                            <!-- END .block-content -->
                            </div>
                        <!-- END .strict-block -->
                        </div>
                      
                      

{% endblock %}

{% load customtags %}
{% set title %}Конгресс интеллигенции против войны: как стать членом конгресса и зарегистрироваться на сайте{% endset %}
{% set description %}Здесь описан единственный способ стать членом Конгресса Интеллигенции против войны и зарегистрироваться на сайте{% endset %}