{% with object.petition as petition %}

  <div class="strict-block">
    <div class="block-title">
      <h2>Подписи</h2>
      
    </div>
    <!-- BEGIN .block-content -->
    
    <div class="block-content">
      
    
      {% if object.petition.shown_count %}
        <hr>
        <span><a href="{{petition.get_absolute_url}}">Смотреть список подписавших ({{petition.shown_count}})</a></span>
      {% endif %}
      
      {% if object.petition.closed %}
        <span>Сбор подписей закрыт</span>
      {% else %}
      <hr>

           {% if user.is_authenticated %}
                        {% if user.profile in object.petition.participants.all %}
                           <span >Вы уже подписали это заявление</span>
                        {% else %}
                             <a href="/petition/{{object.petition.id}}/addme/" class="button" style="line-height:42px">Подписать</a>
                        {% endif %}
                        {% else %}

                           {% if object.petition.id in request.session.signed_petitions %}
                                <span >Вы уже подписали это заявление</span>
                           {% else %}
                           <a href="/petition/{{object.petition.id}}/addouter/" class="button ajax-popup-link"  style="line-height:42px">Подписать</a>
                           {% endif %}
                        {% endif %}

      {% endif %}
             
                       
  </div>
  
</div>
{% endwith %}