<div class="col-lg-12 hidden-xs hidden-sm hidden-md">
  <div class="banner">
    <ul>
    {% load customtags fb_versions %}
    {% for item in quote %}
    	
   
<li><div class="col-xs-12" style="height:125px"><span class="qtext">{{item.text|striptags|no_dumb_chars}}</span><span class="qauthor">{% if item.author_pic %}
	<img  style="height:36px; " class="img-circle" src="{% version item.author_pic 'mini_thumbnail' %}">
{% endif %}{{item.author_name}}</span></li>
 {% endfor %}




    </ul>
</div>
</div>
