{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Поиск</h2>

    <form method="get" action=".">
 
       
    <input type="text" name="q" placeholder="Поиск...">
                    <input type="submit" value="Поиск">


        
            <h3>Результаты поиска</h3>

            {% for result in object_list %}
                <p>
                    <a href="{{ result.get_absolute_url }}">{{ result.title }}{{result.name}}</a>
                </p>
            {% empty %}
                <p>Ничего не найдено.</p>
            {% endfor %}

 
    </form>

    </div>
{% endblock %}
{% load customtags %}
{% set title %}Поиск по сайту{% endset %}
{% set description %}Поиск по сайту конгресса интеллигенции{% endset %}
