<div class="widget">
                            <h3>Related Posts</h3>
                            <div class="middle-articles">
                                <div class="item">
                                    <a href="post.html#comments" class="item-comment"><span>82</span><i></i></a>
                                    <a href="#"><img src="http://placehold.it/200x200" alt=""></a>
                                    <h4><a href="#">Cu saperet vulputate mucius epicuri probatus ea vim</a></h4>
                                </div>
                                                           <div class="item">
                                    <a href="post.html#comments" class="item-comment"><span>82</span><i></i></a>
                                    <a href="#"><img src="http://placehold.it/200x200" alt=""></a>
                                    <h4><a href="#">Cu saperet vulputate mucius epicuri probatus ea vim</a></h4>
                                </div>
                                
                            </div>
                        </div>